# Titanic: Machine Learning from Disaster

https://www.kaggle.com/c/titanic

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

## Load Dataset

In [0]:
# Code to read csv file into colaboratory:
!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
 
# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
# 2. Get the file info in the folder 
# file_list = drive.ListFile({'q': "'<FOLDER ID>' in parents and trashed=false"}).GetList()
file_list = drive.ListFile({'q': "'1ETeRvrK-KspSRVPeHdKqKAXJ1tGJ_TFd' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: train.csv, id: 1vD6LWZJkYZ6RJvpDq8ZkU0xhBMBXgz-u
title: test.csv, id: 1Vl06bTerImNMpoYc3zKY_9dvE3Ksf3Ss

In [0]:
#3. Get the file
# downloaded = drive.CreateFile({'id':'<FILE_ID>'})
# downloaded.GetContentFile('<FILE_TITLE>')

train_downloaded = drive.CreateFile({'id':'1vD6LWZJkYZ6RJvpDq8ZkU0xhBMBXgz-u'})
train_downloaded.GetContentFile('train.csv') 

test_downloaded = drive.CreateFile({'id':'1Vl06bTerImNMpoYc3zKY_9dvE3Ksf3Ss'})
test_downloaded.GetContentFile('test.csv')

In [5]:
train = pd.read_csv("train.csv", index_col=["PassengerId"])
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
test = pd.read_csv("test.csv", index_col=["PassengerId"])
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Missing data

In [7]:
train.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [8]:
test.isnull().sum()

Pclass        0
Name          0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          1
Cabin       327
Embarked      0
dtype: int64

In [9]:
all_data = pd.concat([train, test])
all_data.head()

,Age,Cabin,Embarked,Fare,Name,Parch,Pclass,Sex,SibSp,Survived,Ticket
PassengerId,,,,,,,,,,,
1,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,3,male,1,0.0,A/5 21171
2,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,1,female,1,1.0,PC 17599
3,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,female,0,1.0,STON/O2. 3101282
4,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,1,female,1,1.0,113803
5,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,3,male,0,0.0,373450

### 1) Embarked

In [10]:
train[train["Embarked"].isnull()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [11]:
# 1등석이고 요금이 75이상 85인 데이터의 탑승지
all_data[(all_data["Pclass"] == 1) & (all_data["Fare"] > 75) & (all_data["Fare"] < 85)].groupby("Embarked").agg(['mean', 'count'])

                Age             Fare           Parch       Pclass        \
               mean count       mean count      mean count   mean count
Embarked
C         44.478261    23  79.151168    25  0.320000    25      1    25
S         38.611111    18  80.056011    18  0.555556    18      1    18

             SibSp        Survived
              mean count      mean count
Embarked
C         0.480000    25  0.812500    16
S         0.666667    18  0.615385    13

In [12]:
train["Embarked"] = train["Embarked"].fillna("C")
train.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      0
dtype: int64

### 2) Fare

In [13]:
test[test["Fare"].isnull()]

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [14]:
# 3등석이고 탑승지가 S인 요금 평균
mean_fare = all_data[(all_data["Pclass"] == 3) & (all_data["Embarked"] == "S")]["Fare"].mean()
test["Fare"] = test["Fare"].fillna(mean_fare)
test.isnull().sum()

Pclass        0
Name          0
Sex           0
Age          86
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       327
Embarked      0
dtype: int64

### 3) Age

In [15]:
all_mean_age = all_data["Age"].mean()
print(all_mean_age)

train["Age"] = train["Age"].fillna(all_data["Age"].mean())
test["Age"] = test["Age"].fillna(all_data["Age"].mean())

# 좌석등급, 성별에 따른 연령층이 차이가 있음.. 이거 전체 루프 돌지 않고 어케 넣어주지??
ages = all_data.groupby(['Pclass', 'Sex'])['Age'].mean()
print(ages)

29.881137667304014
Pclass  Sex
1       female    37.037594
        male      41.029272
2       female    27.499223
        male      30.815380
3       female    22.185329
        male      25.962264
Name: Age, dtype: float64

In [16]:
train.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      0
dtype: int64

In [17]:
test.isnull().sum()

Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       327
Embarked      0
dtype: int64

## Encoding

In [0]:
def create_dummies(df,column_name):
    dummies = pd.get_dummies(df[column_name],prefix=column_name)
    df = pd.concat([df,dummies],axis=1)
    return df

train = create_dummies(train,"Pclass")
train = create_dummies(train,"Embarked")

In [0]:
test = create_dummies(test,"Pclass")
test = create_dummies(test,"Embarked")

In [20]:
# 성별을 feature 로 사용하기위해 수치형으로 encoding
train.loc[train["Sex"] == "male", "Enc_Sex"] = 0
train.loc[train["Sex"] == "female", "Enc_Sex"] = 1
train["Enc_Sex"] = train["Enc_Sex"].astype(int)

print(train.shape)
train.head()

(891, 18)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Enc_Sex
PassengerId,,,,,,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1,0,0,1,0
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0,1,0,0,1
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,0,0,1,1
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0,0,0,1,1
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1,0,0,1,0

In [21]:
# test 데이터를 가지고 predict 를 해야 하기 때문에 train data 와 동일하게 전처리 해야 함
test.loc[test["Sex"] == "male", "Enc_Sex"] = 0
test.loc[test["Sex"] == "female", "Enc_Sex"] = 1
test["Enc_Sex"] = test["Enc_Sex"].astype(int)

print(test.shape)
test.head()

(418, 17)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Enc_Sex
PassengerId,,,,,,,,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,0,1,0,1,0,0
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,0,1,0,0,1,1
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,1,0,0,1,0,0
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,0,1,0,0,1,0
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,0,1,0,0,1,1

In [22]:
train["Family"] = train["SibSp"] + train["Parch"]
train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Enc_Sex,Family
PassengerId,,,,,,,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1,0,0,1,0,1
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0,1,0,0,1,1
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,0,0,1,1,0
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0,0,0,0,1,1,1
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0,1,0,0,1,0,0

In [23]:
test["Family"] = test["SibSp"] + test["Parch"]
test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Enc_Sex,Family
PassengerId,,,,,,,,,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,0,1,0,1,0,0,0
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,0,1,0,0,1,1,1
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,1,0,0,1,0,0,0
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,0,1,0,0,1,0,0
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,0,1,0,0,1,1,2

## Train

In [24]:
#feature_names = ["Pclass", "Enc_Sex", "Age", "SibSp", "Parch", "Fare", "Embarked_C", "Embarked_Q", "Embarked_S"]
# 왜 나는 Pclass를 one hot encoding 해야 더 점수가 잘 나오는지 모르겠음
feature_names = ["Pclass_1", "Pclass_2", "Pclass_3", "Enc_Sex", "Age", "Family", "Fare", "Embarked_C", "Embarked_Q", "Embarked_S"]
#feature_names = ["Pclass", "Enc_Sex", "SibSp", "Parch", "Fare", "Embarked_C", "Embarked_Q", "Embarked_S"]

X = train[feature_names].values

y = train['Survived'].values
y = y.astype(float).reshape(-1, 1)

print(X)

[[0. 0. 1. ... 0. 0. 1.]
 [1. 0. 0. ... 1. 0. 0.]
 [0. 0. 1. ... 0. 0. 1.]
 ...
 [0. 0. 1. ... 0. 0. 1.]
 [1. 0. 0. ... 1. 0. 0.]
 [0. 0. 1. ... 0. 1. 0.]]

In [0]:
# X_train = train[feature_names].values
# X_train = X_train.astype(float)
# y_train = train['Survived'].values
# y_train = y_train.astype(float).reshape(-1, 1)
# print(X_train.shape, y_train.shape)

from sklearn.model_selection import train_test_split

X_train, X_dev, y_train, y_dev = train_test_split(X, y, test_size=0.1, random_state=0)

In [26]:
print(X_train.shape, y_train.shape)
print(X_dev.shape, y_dev.shape)

(801, 10) (801, 1)
(90, 10) (90, 1)

In [27]:
X_test = test[feature_names].values
X_test = X_test.astype(float)

print(X_test)

[[0. 0. 1. ... 0. 1. 0.]
 [0. 0. 1. ... 0. 0. 1.]
 [0. 1. 0. ... 0. 1. 0.]
 ...
 [0. 0. 1. ... 0. 0. 1.]
 [0. 0. 1. ... 0. 0. 1.]
 [0. 0. 1. ... 1. 0. 0.]]

In [28]:
id_test = test.index.get_values()
id_test = id_test.reshape(-1, 1)
print(id_test)

[[ 892]
 [ 893]
 [ 894]
 [ 895]
 [ 896]
 [ 897]
 [ 898]
 [ 899]
 [ 900]
 [ 901]
 [ 902]
 [ 903]
 [ 904]
 [ 905]
 [ 906]
 [ 907]
 [ 908]
 [ 909]
 [ 910]
 [ 911]
 [ 912]
 [ 913]
 [ 914]
 [ 915]
 [ 916]
 [ 917]
 [ 918]
 [ 919]
 [ 920]
 [ 921]
 [ 922]
 [ 923]
 [ 924]
 [ 925]
 [ 926]
 [ 927]
 [ 928]
 [ 929]
 [ 930]
 [ 931]
 [ 932]
 [ 933]
 [ 934]
 [ 935]
 [ 936]
 [ 937]
 [ 938]
 [ 939]
 [ 940]
 [ 941]
 [ 942]
 [ 943]
 [ 944]
 [ 945]
 [ 946]
 [ 947]
 [ 948]
 [ 949]
 [ 950]
 [ 951]
 [ 952]
 [ 953]
 [ 954]
 [ 955]
 [ 956]
 [ 957]
 [ 958]
 [ 959]
 [ 960]
 [ 961]
 [ 962]
 [ 963]
 [ 964]
 [ 965]
 [ 966]
 [ 967]
 [ 968]
 [ 969]
 [ 970]
 [ 971]
 [ 972]
 [ 973]
 [ 974]
 [ 975]
 [ 976]
 [ 977]
 [ 978]
 [ 979]
 [ 980]
 [ 981]
 [ 982]
 [ 983]
 [ 984]
 [ 985]
 [ 986]
 [ 987]
 [ 988]
 [ 989]
 [ 990]
 [ 991]
 [ 992]
 [ 993]
 [ 994]
 [ 995]
 [ 996]
 [ 997]
 [ 998]
 [ 999]
 [1000]
 [1001]
 [1002]
 [1003]
 [1004]
 [1005]
 [1006]
 [1007]
 [1008]
 [1009]
 [1010]
 [1011]
 [1012]
 [1013]
 [1014]
 [1015]
 [1016]
 [1017]
 [1018]
 [1019]
 [1020]
 [1021]
 [1022]
 [1023]
 [1024]
 [1025]
 [1026]
 [1027]
 [1028]
 [1029]
 [1030]
 [1031]
 [1032]
 [1033]
 [1034]
 [1035]
 [1036]
 [1037]
 [1038]
 [1039]
 [1040]
 [1041]
 [1042]
 [1043]
 [1044]
 [1045]
 [1046]
 [1047]
 [1048]
 [1049]
 [1050]
 [1051]
 [1052]
 [1053]
 [1054]
 [1055]
 [1056]
 [1057]
 [1058]
 [1059]
 [1060]
 [1061]
 [1062]
 [1063]
 [1064]
 [1065]
 [1066]
 [1067]
 [1068]
 [1069]
 [1070]
 [1071]
 [1072]
 [1073]
 [1074]
 [1075]
 [1076]
 [1077]
 [1078]
 [1079]
 [1080]
 [1081]
 [1082]
 [1083]
 [1084]
 [1085]
 [1086]
 [1087]
 [1088]
 [1089]
 [1090]
 [1091]
 [1092]
 [1093]
 [1094]
 [1095]
 [1096]
 [1097]
 [1098]
 [1099]
 [1100]
 [1101]
 [1102]
 [1103]
 [1104]
 [1105]
 [1106]
 [1107]
 [1108]
 [1109]
 [1110]
 [1111]
 [1112]
 [1113]
 [1114]
 [1115]
 [1116]
 [1117]
 [1118]
 [1119]
 [1120]
 [1121]
 [1122]
 [1123]
 [1124]
 [1125]
 [1126]
 [1127]
 [1128]
 [1129]
 [1130]
 [1131]
 [1132]
 [1133]
 [1134]
 [1135]
 [1136]
 [1137]
 [1138]
 [1139]
 [1140]
 [1141]
 [1142]
 [1143]
 [1144]
 [1145]
 [1146]
 [1147]
 [1148]
 [1149]
 [1150]
 [1151]
 [1152]
 [1153]
 [1154]
 [1155]
 [1156]
 [1157]
 [1158]
 [1159]
 [1160]
 [1161]
 [1162]
 [1163]
 [1164]
 [1165]
 [1166]
 [1167]
 [1168]
 [1169]
 [1170]
 [1171]
 [1172]
 [1173]
 [1174]
 [1175]
 [1176]
 [1177]
 [1178]
 [1179]
 [1180]
 [1181]
 [1182]
 [1183]
 [1184]
 [1185]
 [1186]
 [1187]
 [1188]
 [1189]
 [1190]
 [1191]
 [1192]
 [1193]
 [1194]
 [1195]
 [1196]
 [1197]
 [1198]
 [1199]
 [1200]
 [1201]
 [1202]
 [1203]
 [1204]
 [1205]
 [1206]
 [1207]
 [1208]
 [1209]
 [1210]
 [1211]
 [1212]
 [1213]
 [1214]
 [1215]
 [1216]
 [1217]
 [1218]
 [1219]
 [1220]
 [1221]
 [1222]
 [1223]
 [1224]
 [1225]
 [1226]
 [1227]
 [1228]
 [1229]
 [1230]
 [1231]
 [1232]
 [1233]
 [1234]
 [1235]
 [1236]
 [1237]
 [1238]
 [1239]
 [1240]
 [1241]
 [1242]
 [1243]
 [1244]
 [1245]
 [1246]
 [1247]
 [1248]
 [1249]
 [1250]
 [1251]
 [1252]
 [1253]
 [1254]
 [1255]
 [1256]
 [1257]
 [1258]
 [1259]
 [1260]
 [1261]
 [1262]
 [1263]
 [1264]
 [1265]
 [1266]
 [1267]
 [1268]
 [1269]
 [1270]
 [1271]
 [1272]
 [1273]
 [1274]
 [1275]
 [1276]
 [1277]
 [1278]
 [1279]
 [1280]
 [1281]
 [1282]
 [1283]
 [1284]
 [1285]
 [1286]
 [1287]
 [1288]
 [1289]
 [1290]
 [1291]
 [1292]
 [1293]
 [1294]
 [1295]
 [1296]
 [1297]
 [1298]
 [1299]
 [1300]
 [1301]
 [1302]
 [1303]
 [1304]
 [1305]
 [1306]
 [1307]
 [1308]
 [1309]]

In [29]:
print(X_test.shape, id_test.shape)

(418, 10) (418, 1)

In [0]:
seed = 37
input_size = X_train.shape[1] # number of features

# kaggle score => 0.76076
learning_rate = 0.001 # most common value for Adam
epochs = 8500

# kaggle score => 0.75119
# learning_rate = 0.01
# epochs = 18000

In [0]:
graph = tf.Graph()
with graph.as_default():
    tf.set_random_seed(seed)
    np.random.seed(seed)

    X_input = tf.placeholder(dtype=tf.float32, shape=[None, input_size], name='X_input')
    y_input = tf.placeholder(dtype=tf.float32, shape=[None, 1], name='y_input')
    
    W1 = tf.Variable(tf.random_normal(shape=[input_size, 1], seed=seed), name='W1')
    b1 = tf.Variable(tf.random_normal(shape=[1], seed=seed), name='b1')
    sigm = tf.nn.sigmoid(tf.add(tf.matmul(X_input, W1), b1), name='pred')
    
    loss = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(labels=y_input, logits=sigm, name='loss'))
    #train_steps = tf.train.GradientDescentOptimizer(learning_rate).minimize(loss)
    # GradientDescentOptimizer보다 AdamOptimizer이 더 점수 높게나옴
    train_steps = tf.train.AdamOptimizer(learning_rate).minimize(loss)

    pred = tf.cast(tf.greater_equal(sigm, 0.5), tf.float32, name='pred') # 1 if >= 0.5
    acc = tf.reduce_mean(tf.cast(tf.equal(pred, y_input), tf.float32), name='acc')
    
    init_var = tf.global_variables_initializer()

In [0]:
train_feed_dict = {X_input: X_train, y_input: y_train}
dev_feed_dict = {X_input: X_dev, y_input: y_dev}
test_feed_dict = {X_input: X_test} # no y_input since the goal is to predict it

In [33]:
sess = tf.Session(graph=graph)
sess.run(init_var)

cur_loss = sess.run(loss, feed_dict=train_feed_dict)
train_acc = sess.run(acc, feed_dict=train_feed_dict)
test_acc = sess.run(acc, feed_dict=dev_feed_dict)
print('step 0: loss {0:.5f}, train_acc {1:.2f}%, test_acc {2:.2f}%'.format(cur_loss, 100*train_acc, 100*test_acc))

for step in range(1, epochs+1):
    sess.run(train_steps, feed_dict=train_feed_dict)
    cur_loss = sess.run(loss, feed_dict=train_feed_dict)
    train_acc = sess.run(acc, feed_dict=train_feed_dict)
    test_acc = sess.run(acc, feed_dict=dev_feed_dict)
    
    if step%100 != 0: # print result every 100 steps
        continue
    print('step {3}: loss {0:.5f}, train_acc {1:.2f}%, test_acc {2:.2f}%'.format(cur_loss, 100*train_acc, 100*test_acc, step))

step 0: loss 0.68755, train_acc 63.80%, test_acc 56.67%
step 100: loss 0.68692, train_acc 63.92%, test_acc 57.78%
step 200: loss 0.68660, train_acc 63.92%, test_acc 57.78%
step 300: loss 0.68622, train_acc 64.04%, test_acc 57.78%
step 400: loss 0.68578, train_acc 64.42%, test_acc 58.89%
step 500: loss 0.68524, train_acc 64.54%, test_acc 58.89%
step 600: loss 0.68448, train_acc 64.79%, test_acc 58.89%
step 700: loss 0.68333, train_acc 65.29%, test_acc 58.89%
step 800: loss 0.68201, train_acc 66.04%, test_acc 61.11%
step 900: loss 0.68080, train_acc 66.29%, test_acc 61.11%
step 1000: loss 0.67921, train_acc 66.92%, test_acc 63.33%
step 1100: loss 0.66868, train_acc 70.66%, test_acc 70.00%
step 1200: loss 0.66732, train_acc 70.79%, test_acc 71.11%
step 1300: loss 0.66657, train_acc 71.04%, test_acc 71.11%
step 1400: loss 0.66598, train_acc 71.04%, test_acc 71.11%
step 1500: loss 0.66545, train_acc 71.41%, test_acc 71.11%
step 1600: loss 0.66493, train_acc 71.54%, test_acc 71.11%
step 1700: loss 0.66442, train_acc 71.66%, test_acc 71.11%
step 1800: loss 0.66388, train_acc 71.91%, test_acc 71.11%
step 1900: loss 0.66328, train_acc 72.16%, test_acc 71.11%
step 2000: loss 0.66258, train_acc 72.41%, test_acc 70.00%
step 2100: loss 0.66159, train_acc 72.91%, test_acc 68.89%
step 2200: loss 0.65961, train_acc 73.78%, test_acc 72.22%
step 2300: loss 0.65731, train_acc 74.66%, test_acc 72.22%
step 2400: loss 0.65479, train_acc 76.28%, test_acc 72.22%
step 2500: loss 0.65226, train_acc 77.03%, test_acc 70.00%
step 2600: loss 0.65001, train_acc 77.15%, test_acc 72.22%
step 2700: loss 0.64805, train_acc 79.28%, test_acc 74.44%
step 2800: loss 0.64618, train_acc 80.52%, test_acc 76.67%
step 2900: loss 0.64450, train_acc 81.02%, test_acc 80.00%
step 3000: loss 0.64316, train_acc 81.27%, test_acc 80.00%
step 3100: loss 0.64204, train_acc 81.27%, test_acc 78.89%
step 3200: loss 0.64109, train_acc 81.27%, test_acc 77.78%
step 3300: loss 0.64026, train_acc 80.90%, test_acc 77.78%
step 3400: loss 0.63954, train_acc 80.90%, test_acc 77.78%
step 3500: loss 0.63890, train_acc 80.77%, test_acc 77.78%
step 3600: loss 0.63832, train_acc 80.90%, test_acc 77.78%
step 3700: loss 0.63780, train_acc 81.15%, test_acc 78.89%
step 3800: loss 0.63732, train_acc 81.27%, test_acc 78.89%
step 3900: loss 0.63687, train_acc 81.40%, test_acc 78.89%
step 4000: loss 0.63646, train_acc 81.40%, test_acc 78.89%
step 4100: loss 0.63607, train_acc 81.15%, test_acc 78.89%
step 4200: loss 0.63570, train_acc 81.27%, test_acc 78.89%
step 4300: loss 0.63536, train_acc 81.40%, test_acc 80.00%
step 4400: loss 0.63503, train_acc 81.40%, test_acc 80.00%
step 4500: loss 0.63472, train_acc 81.40%, test_acc 80.00%
step 4600: loss 0.63442, train_acc 81.52%, test_acc 80.00%
step 4700: loss 0.63414, train_acc 81.52%, test_acc 80.00%
step 4800: loss 0.63387, train_acc 81.52%, test_acc 80.00%
step 4900: loss 0.63361, train_acc 81.52%, test_acc 80.00%
step 5000: loss 0.63336, train_acc 81.52%, test_acc 80.00%
step 5100: loss 0.63312, train_acc 81.52%, test_acc 80.00%
step 5200: loss 0.63289, train_acc 81.52%, test_acc 80.00%
step 5300: loss 0.63266, train_acc 81.52%, test_acc 80.00%
step 5400: loss 0.63245, train_acc 81.52%, test_acc 80.00%
step 5500: loss 0.63224, train_acc 81.52%, test_acc 80.00%
step 5600: loss 0.63203, train_acc 81.52%, test_acc 80.00%
step 5700: loss 0.63183, train_acc 81.52%, test_acc 80.00%
step 5800: loss 0.63164, train_acc 81.65%, test_acc 80.00%
step 5900: loss 0.63146, train_acc 81.52%, test_acc 80.00%
step 6000: loss 0.63128, train_acc 81.52%, test_acc 80.00%
step 6100: loss 0.63110, train_acc 81.52%, test_acc 80.00%
step 6200: loss 0.63093, train_acc 81.52%, test_acc 80.00%
step 6300: loss 0.63076, train_acc 81.52%, test_acc 80.00%
step 6400: loss 0.63060, train_acc 81.52%, test_acc 80.00%
step 6500: loss 0.63044, train_acc 81.52%, test_acc 80.00%
step 6600: loss 0.63028, train_acc 81.52%, test_acc 80.00%
step 6700: loss 0.63013, train_acc 81.52%, test_acc 80.00%
step 6800: loss 0.62998, train_acc 81.52%, test_acc 80.00%
step 6900: loss 0.62983, train_acc 81.65%, test_acc 80.00%
step 7000: loss 0.62969, train_acc 81.52%, test_acc 80.00%
step 7100: loss 0.62955, train_acc 81.52%, test_acc 80.00%
step 7200: loss 0.62941, train_acc 81.52%, test_acc 80.00%
step 7300: loss 0.62928, train_acc 81.52%, test_acc 80.00%
step 7400: loss 0.62915, train_acc 81.52%, test_acc 80.00%
step 7500: loss 0.62902, train_acc 81.65%, test_acc 80.00%
step 7600: loss 0.62889, train_acc 81.65%, test_acc 80.00%
step 7700: loss 0.62876, train_acc 81.65%, test_acc 80.00%
step 7800: loss 0.62864, train_acc 81.65%, test_acc 80.00%
step 7900: loss 0.62852, train_acc 81.77%, test_acc 80.00%
step 8000: loss 0.62840, train_acc 81.77%, test_acc 80.00%
step 8100: loss 0.62829, train_acc 81.90%, test_acc 80.00%
step 8200: loss 0.62817, train_acc 82.02%, test_acc 80.00%
step 8300: loss 0.62806, train_acc 82.15%, test_acc 80.00%
step 8400: loss 0.62795, train_acc 82.15%, test_acc 80.00%
step 8500: loss 0.62784, train_acc 82.15%, test_acc 80.00%

In [0]:
y_pred = sess.run(pred, feed_dict=test_feed_dict).astype(int)
prediction = pd.DataFrame(np.concatenate([id_test, y_pred], axis=1), columns=['PassengerId', 'Survived'])
prediction = prediction.set_index("PassengerId")

In [35]:
prediction.head()

             Survived
PassengerId
892                 0
893                 0
894                 0
895                 0
896                 0

In [0]:
from google.colab import files

file_name = "titanic-tensorflow_submission.csv"
prediction.to_csv(file_name)
files.download(file_name)