In [2]:
import numpy as np
import pandas as pd
#from sklearn.model_selection import train_test_split
import tensorflow as tf

In [9]:
#train = np.loadtxt(fname="train.csv", delimiter=",", dtype="S")
#train = np.genfromtxt('train.csv', dtype= None)
train = pd.read_csv("train.csv") #Train Data Load

print(train.shape) #데이터의 기본 모양 확인  
train.head()
print(train.dtypes)

(891, 12)
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [10]:
del train['Name']
del train['Ticket']
del train['Fare']
del train['Embarked']
train = train.fillna(value=0.0)

In [11]:
for i in range(train.shape[0]):
    if train.at[i, 'Sex'] == 'male':
        train.at[i, 'Sex'] = 1
    else:
        train.at[i, 'Sex'] = 0

train['Age_group'] = 0
for i in range(train.shape[0]):
    for j in range(70, 0, -10):
        if train.at[i, 'Age'] > j:
            train.at[i, 'Age_group'] = int(j/10)
            break
del train['Age'] # it's unnecessary anymore

In [12]:
print(list(set(train['Cabin'].values))[:10]) # sample of 'Cabin' values
train['Cabin_section'] = '0'
for i in range(train.shape[0]):
    if train.at[i, 'Cabin'] != 0:
        train.at[i, 'Cabin_section'] = train.at[i, 'Cabin'][0]
CABIN_SECTION = list(set(train['Cabin_section'].values)) # will be reused for test data
print(CABIN_SECTION) # 'Cabin_Section' values
for i in range(train.shape[0]):
    train.at[i, 'Cabin_section'] = CABIN_SECTION.index(train.at[i, 'Cabin_section'])
del train['Cabin'] # it's unnecessary anymore

[0.0, 'E38', 'C148', 'D47', 'E34', 'C91', 'C30', 'E49', 'D9', 'E12']
['E', 'B', 'G', 'A', 'T', 'C', 'F', 'D', '0']

In [13]:
train.head()

   PassengerId  Survived  Pclass Sex  SibSp  Parch  Age_group Cabin_section
0            1         0       3   1      1      0          2             8
1            2         1       1   0      1      0          3             5
2            3         1       3   0      0      0          2             8
3            4         1       1   0      1      0          3             5
4            5         0       3   1      0      0          3             8

In [14]:
pclass = np.eye(train['Pclass'].values.max()+1)[train['Pclass'].values]
age_group = np.eye(train['Age_group'].values.max()+1)[train['Age_group'].values]
cabin_section = np.eye(train['Cabin_section'].values.max()+1) \
                    [train['Cabin_section'].values.astype(int)] # prevent IndexError

In [15]:
X = train[['Sex', 'SibSp', 'Parch']].values
X = np.concatenate([X, age_group], axis=1)
X = np.concatenate([X, pclass], axis=1)
X = np.concatenate([X, cabin_section], axis=1)
X = X.astype(float)

y = train['Survived'].values
y = y.astype(float).reshape(-1, 1)

In [16]:
X_train, X_dev, y_train, y_dev = train_test_split(X, y, test_size=0.1, random_state=0)

NameError: name 'train_test_split' is not defined